#map {
  height: 400px;
  width: 100%;
}

#error {
  visibility: hidden;
}

form input {
  margin: 5px;
}

#addressnotfound {
  visibility: hidden;
}

#calculateDistance {
  visibility: hidden;
}

#listOfMarkers {
  display: inline-block;
}